<!DOCTYPE html>
<html style="font-family: Helvetica,Arial,sans-serif">

<head>
  <meta charset="utf-8">
  <title>limt</title>
  <% if (htmlWebpackPlugin.options.nodeModules) { %>
    <!-- eslint-disable-next-line -->
    <!-- Add `node_modules/` to global paths so
    `require` works properly in development -->
    <!-- eslint-disable-next-line -->
    <script>
      // eslint-disable-next-line
      require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
    </script>
    <% } %>
</head>

<body style="margin: 25px 0 0 0;
background-size: cover;
background-color: white">
  <div class="title-bar"></div>
  <div id="app"></div>
  <!-- Set `__static` path to static files in production -->
  <script>
    // eslint-disable-next-line max-len
    if (process.env.NODE_ENV !== 'development')
      window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
  </script>
  <!-- webpack builds are automatically injected -->
</body>

<style>
  .title-bar {
    height: 24px;
    width: 100%;
    -webkit-app-region: drag;
    position: fixed;
    z-index: 9999;
    top: 0;
    background-color: white;
    border-bottom: solid 1px #d8d8d8;
  }
</style>

</html>
